<!DOCTYPE html>
<html>
<head>
	<title>component one</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<div id="example">
		<keep-alive>
		<component v-bind:is="currentView">
		</component>
	</keep-alive>
	<keep-alive>
	<comp-a v-if="a > 1"></comp-a>
	<comp-b v-else></comp-b>
	<async-example></async-example>
</keep-alive>
</div>
<div id="parent">
	<user-profile ref="profile"></user-profile>
</div>
<div id="app1">
	<menulist></menulist>
	<child></child>
</div>
<!-- 	<table style="background: gray">
		<tr is='menulist'></tr>
	</table> -->
	<script type="text/javascript">
		var bus = new Vue({

		})
		Vue.component('async-example', function (resolve, reject) {
			setTimeout(function () {
				resolve({
					template: '<div>I am async!</div>'
				})
			}, 1000)
		})
		Vue.component('child', {
			template: `
			<div>
				<span>{{ message }}  & {{defaultMsg}} && {{num10}}</span>
				<input type="text" v-model='defaultMsg'/>
			</div>
			`,
			props: {
				message: [Number, String],
				num10:{
					validator:function(val){
						return val > 10
					}
				}
			},
			created:function(){
				bus.$on('testEvent',function(id,id2,id3){
					console.log('get test event',id,id2,id3)
				})
			},
			data: function() {
				return{
					childData:'1111---test---11111'
				}
			},
			computed:{
				defaultMsg:function(){
					return this.message+' default'
				}
			}
			// data:function(){
			// 	return {
			// 		message:''
			// 	}
			// },
		})
		Vue.component('menulist', {
			template: `
			<div>
				<h1>costum menulist of {{type}}</h1>
				<input type="text" v-model='type' />
				<input type="text" v-model='qty' />
				<ul>
					<li v-for='item in list'>type:{{item.type}} name:{{item.name}}</li>
				</ul>
				<child v-bind:message='type' :num10='qty'> </child>
				<button @click='triggerTest'>trigger</button>
			</div>
			`,
			data: function() {
				return {
					list: [{
						type: 'veg',
						name: 'lettuce'
					}, {
						type: 'fruit',
						name: 'apple'
					}, {
						type: 'meat',
						name: 'pork'
					}],
					type:'food',
					qty:50
				}
			},
			methods:{
				triggerTest:function(){
					bus.$emit('testEvent',1,3,4)
					console.log('testEvent')
				}
			}
		})
		Vue.component('comp-a',{
			template:`<div>comp-a</div>`
		})
		Vue.component('comp-b',{
			template:`<div>comp-b</div>`
		})
		Vue.component('user-profile',{
			template:`<div>user-profile</div>`
		})
		var parent = new Vue({ el: '#parent' })
		var child = parent.$refs.profile
		var vmIs = new Vue({
			el: '#example',
			data: {
				currentView: 'home',
				a:2
			},
			components: {
				home: { template:`<div>home</div>` },
				posts: { template:`<div>posts</div>` },
				archive: { template:`<div>archieve</div>` }
			},
			activated:function(){
				console.log('activated')
			},
			deactivated:function(){
				console.log('deactivated')
			}
		})

		var app1=new Vue({
			el:'#app1'
		})
	</script>

</body>
</html>