<!DOCTYPE html>
<html>
<head>
	<title>vue api</title>
	<script type="text/javascript" src='../vue.js'></script>
	<style type="text/css">
	</style>
</head>
<body>
	<script type="text/javascript">

	</script>
	<div id="demo">
		{{fullName}}
		<input type="text" v-model='firstName'>
		<input type="text" v-model='lastName'>
		<input type="text" v-model='fullName'>

	</div>
	<div id="app">

		<!-- <div id="mount-point"></div> -->
		<!-- <test-comp> -->
		
<input v-model="message">
<div>{{reversedMsg}}</div>
	<!-- </test-comp>	 -->
	<child-componet :child-message='message' :child-message2="reversedMsg"></child-componet>
	<!-- <div id="mount-point2"></div> -->
</div>
<div id="mount-point"></div>
<script type="text/javascript">	

var Profile = Vue.extend({
  template: '<p>{{firstName}} {{lastName}} aka {{alias}}</p>',
  data: function () {
    return {
      firstName: 'Walter',
      lastName: 'White',
      alias: 'Heisenberg'
    }
  }
})
// 创建 Profile 实例，并挂载到一个元素上。
new Profile().$mount('#mount-point')

var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar'
  },
  computed: {
  	fullName: {
  		get:function () {
  			return this.firstName + ' ' + this.lastName
  		},
  		set:function(newValue,val){
  			console.log('newV',newValue,val)
  			var names = newValue.split(' ')
  			this.firstName = names[0]
  			this.lastName = names[names.length - 1]
  		}
    }
  }
})

	Vue.component('my-component', {
		template: '<div>A custom component!</div>'
	})

	Vue.component('child-componet', {
		template: `<p>{{ childMessage }}---{{ childMessage2 }}</p>`,
		props:['childMessage','childMessage2']
	})
	Vue.component('test-comp', {
		template: `<input type="text" v-model='message' />`
	})
	var appVue=new Vue({
		el:'#app',
		data:{
			message:'test'
		},
		computed:{
			reversedMsg:function(){
				return this.message.split('').reverse().join('')
			}
		}
	})

</script>
<!-- <div id="example">
	<my-component></my-component>
</div> -->

</body>
</html>